
:root {
    --font-color:rgb(255,255,255);
    --h2-background-clr:rgb(138,43,226);
    --show-form-btn-hover:rgb(0, 255, 255);
    --input-brder-font-color:rgb(165, 42, 42);
    --card-backgrnd-color:rgb(250, 235, 215);
    --book-btn-bckgrnd-clr:rgb(218, 112, 214, .8);
    --book-btn-bckgrnd-clr-hover:rgb(218, 112, 214);

}

body {
    min-height: 100vh;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* library header */
 .header {
    text-align: center;
    background: var(--h2-background-clr);
    padding: 1.5rem;
    color: var(--font-color);
 }
/* show form button style */

.show-form {
    position: sticky;
    top: 50%;
    left: 97%;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    border: 0;
}

.show-form > span {
    position: absolute;
}

.show-form > span::before {
    position: relative;
}

.show-form > span::before {
    content: '+';
    top: -13px;
    left: -6px;
    font-size: 1.5rem;
}

.show-form:hover,
.show-form:focus {
    background-color: var(--show-form-btn-hover);
    color: var(--font-color);
}

/* library form display */

.library-form {
    display: grid;
    place-items: center;
    color: var(--input-brder-font-color);
}

.display-none{
    display: none;
}

.display-grid {
    display: grid;
    gap: 5px;
}
fieldset {
    border:1px solid var(--input-brder-font-color);
  }
/* input styles */

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input[type='text'],input[type='pages'] {
    appearance: none;
    outline: none;
}

input {
    border: 2px solid var(--input-brder-font-color);
}

input[type='radio'] {
    accent-color: var(--input-brder-font-color);
}

.submit-btn {
    color: var(--font-color);
    background: var(--input-brder-font-color);
    border: 1px solid var(--input-brder-font-color);
    border-radius: 10px;
    padding: 3px;
}


/* card styles */

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    margin: 15px;
    gap: 10px;
}

.card {
    background-color: var(--card-backgrnd-color);
    color: blueviolet;
    padding: 25px;

    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card > p {
    border-bottom: 1px solid burlywood;
}

.book-add, .book-remove {
    margin-right: 5px;
    margin-top: 5px;
    background: var(--book-btn-bckgrnd-clr);
    color: var(--font-color);
    border: 1px solid orchid;
    border-radius: 6px;
    padding: 5px;
    width: 25%;
}

.book-add:hover, .book-remove:hover {
    background-color: var(--book-btn-bckgrnd-clr-hover);
    border: 2px solid orchid;
    

}